<h2>Деталі категорії</h2>

<p><strong>Назва:</strong> <%= @category.name %></p>
<p><strong>Опис:</strong> <%= @category.description %></p>

<div>
  <%= link_to "Редагувати", edit_category_path(@category), class: "btn btn-dark" %>
  <%= link_to "Назад", categories_path, class: "btn btn-dark" %>
</div>
